In [1]:
import os
notebooks = os.getcwd()
os.chdir('..')
base = os.getcwd()
data = os.path.join(base,'data')
os.chdir(data)

In [3]:
full_streets = pd.read_csv('clean_stat_segment_new_project.csv')
score_columns = full_streets.columns[['Scor' in x for x in full_streets.columns]].values
clean_summaries = pd.concat([full_streets.pivot_table('length_2',index='CDNum',columns=x,aggfunc='sum')for x in score_columns],keys=score_columns)

In [104]:
def summarizer(quarter_list,total=True,cds=None):
    items = []
    for item in quarter_list:
        if total == True:
            items.append(clean_summaries.loc[item].sum().values)
            
        else:
            items.append(clean_summaries.loc[item].loc[cds].sum())
        
    df = pd.DataFrame(items,columns=[0,1,2,3],index=score_columns)
    return df.rename(columns={0:'Not Eval',1:'Clean',2:'Somewhat Clean',3:'Not Clean'})[['Not Clean','Somewhat Clean','Clean']]

### Overall

In [105]:
summarizer(quarter_list=score_columns).loc[['Q12016Scor','Q12017Scor','Q12018Scor']]

             Not Clean  Somewhat Clean        Clean
Q12016Scor  312.050209     3177.438765  4621.679276
Q12017Scor   69.915363     1545.120706  6496.132180
Q12018Scor   52.538421      158.215969  7900.413860

### South LA

In [107]:
summarizer(quarter_list=score_columns,total=False,cds=[8,9,10]).loc[['Q12016Scor','Q12017Scor','Q12018Scor']]

            Not Clean  Somewhat Clean        Clean
Q12016Scor  81.077644      725.640608   404.927431
Q12017Scor  25.546274      455.973986   730.125423
Q12018Scor  20.988119       62.334898  1128.322667

### East LA

In [108]:
east_la = summarizer(quarter_list=score_columns,total=False,cds=[1,14]).loc[['Q12016Scor','Q12017Scor','Q12018Scor']]
east_la

            Not Clean  Somewhat Clean       Clean
Q12016Scor  47.625858      384.945023  430.284562
Q12017Scor  13.601127      157.626451  691.627865
Q12018Scor   7.906149       16.404202  838.545092

### Northeast Valley

In [110]:
ne_valley = summarizer(quarter_list=score_columns,total=False,cds=[6,7]).loc[['Q12016Scor','Q12017Scor','Q12018Scor']]
ne_valley

            Not Clean  Somewhat Clean       Clean
Q12016Scor  47.299921      445.846396  515.222146
Q12017Scor  12.334832      276.450750  719.582881
Q12018Scor   6.850514       25.916295  975.601655

In [115]:
full_streets[full_streets['SegmentID'].isin([10373, 20120, 18900, 21882, 15685, 15707, 20119, 16729])]

,OBJECTID,Street_Nam,Address_Ra,SegmentID,Q12016Scor,Q22016Scor,Q32016Scor,Q42016Scor,Q12017Scor,Q22017Scor,Q32017Scor,Q42017Scor,Q12018Scor,Q22018Scor,Q32018Scor,Q12016Bulk,Q12016Ille,Q12016Litt,Q12016Weed,Q22016Bulk,Q22016Ille,Q22016Litt,Q22016Weed,Q32016Bulk,Q32016Ille,Q32016Litt,Q32016Weed,Q42016Bulk,Q42016Ille,Q42016Litt,Q42016Weed,Q12017Bulk,Q12017Ille,Q12017Litt,Q12017Weed,Q22017Bulk,Q22017Ille,Q22017Litt,Q22017Weed,Q32017Bulk,Q32017Ille,Q32017Litt,Q32017Weed,Q42017Bulk,Q42017Ille,Q42017Litt,Q42017Weed,Q12018Bulk,Q12018Ille,Q12018Litt,Q12018Weed,Q22018Bulk,Q22018Ille,Q22018Litt,Q22018Weed,Q32018Bulk,Q32018Ille,Q32018Litt,Q32018Weed,CDNum,Shape__Len,length_2
6808,6809,NaN,0,10373,1,1,2,2,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,2,1,2,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,12,1670.324057,0.855212
10605,10606,NaN,0,10373,1,1,2,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,2,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,12,972.042703,0.499996
11440,11441,NaN,0,15707,2,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,12,976.554503,0.499850
11477,11478,Louise Ave,6801,15685,1,1,1,1,2,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,6,993.808737,0.508934
14728,14729,Mecca Ave,4801,16729,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,3,549.618797,0.281800
16110,16111,NaN,0,20119,1,2,2,2,1,1,1,1,1,1,0,1,1,1,1,1,1,2,2,1,1,2,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,3,612.530652,0.313604
16111,16112,NaN,0,20120,2,2,2,1,1,1,2,1,3,1,0,2,1,1,1,1,1,1,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1,1,1,1,1,1,1,1,3,1,1,1,1,1,1,0,0,0,0,3,748.573397,0.383286
16513,16514,NaN,0,15707,2,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,12,1945.030575,1.000150
18078,18079,N Round St,2669,18900,2,1,1,1,1,1,1,1,1,1,0,1,1,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,14,77.459672,0.039751
19540,19541,NaN,0,16729,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,3,914.951382,0.468992
19678,19679,Rochester Cir,1900,21882,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,8,117.845211,0.060745
19770,19771,NaN,0,18900,2,1,1,1,1,1,1,1,1,1,0,1,1,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,14,77.459672,0.039751
21564,21565,NaN,0,20120,2,2,1,1,1,1,2,1,3,1,0,1,1,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1,1,1,1,1,1,1,1,3,1,1,1,1,1,1,0,0,0,0,3,972.488768,0.500233
21682,21683,NaN,0,20119,1,2,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,3,972.488432,0.500204
22252,22253,NaN,0,15685,1,1,2,1,2,1,1,1,1,1,0,1,1,1,1,1,1,1,1,2,1,1,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,6,1943.640448,0.999981
27759,27760,NaN,0,21882,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,8,117.845211,0.060745